.App {
    margin-top: 5%;
    margin-left: 17%;
    margin-right: 17%;
    margin-bottom: 5%;
    background-color: white;
    width: 1000px;
    height: 300px;

}
body {
    background: linear-gradient(to bottom , rgba(133, 13, 238, 0.438) , rgb(197, 14, 14));
    height: 100vh;
}